<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <tbody>
        <tr th:each="inscripcion: ${inscripciones}">
            <br>
            <td><label>ID: </label></td>
            <td th:text="${inscripcion.id}" />
            <br>
            <td><label>Numero de Clase: </label></td>
            <td th:text="${inscripcion.clase}" />
            <br>
        </tr>
    </tbody>
</body>
</html>