<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/confirmacion}" th:object="${inscripcion}" method="post">
        <table border="1">
            <tr>
                <td><label>Ingrese 1 CONFIRMADO / Ingrese 0 DENEGADO</label></td>
                <td><input type="number" th:field="*{Estado}" /></td>
            </tr>
                <td><input type="submit" value="Guardar" /></td>
            </tr>
        </table>
    </form>
</body>
</html>