<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <tbody>
        <tr th:each="usuario: ${usuarios}">
            <br>
            <td><label>Nombre: </label></td>
            <td th:text="${usuario.nombre}" />
            <br>
            <td><label>Apellido: </label></td>
            <td th:text="${usuario.apellido}" />
            <br>
            <td><label>Dni: </label></td>
            <td th:text="${usuario.dni}" />
            <br>
            <td><label>Rol: </label></td>
            <td th:text="${usuario.rol}" />
            <br>
        </tr>
    </tbody>
</body>
</html>